<div class="div-phone">
  <div class="d-flex div-title-phone justify-content-center">
    <h1 class="title-pharma">Pharma</h1>
    <h1 class="title-stock">Stock</h1>
  </div>
<div data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="map">
    <div class="d-flex flex-column justify-content-between div-search-bar-btn-reservation">
      <div class="big-box-index-pharmacies items-index justify-content-start" data-controller="search medicament">
        <div class="d-flex div-form-index">
          <%= link_to root_path, class: "btn-home-page" do %>
            <i class="fa-solid fa-house"></i>
          <% end %>
          <%= form_tag(pharmacies_path, method: :get, data: { controller: "search"}) do %>
                      <div class="d-flex flex-column align-items-start">
              <div class="d-flex justify-content-center form-search-bar">
                <%= text_field_tag "nom_de_medicament", params[:nom_de_medicament], class: "form-control input-medicaments-search-bar", placeholder: "Nom du médicament" %>
                <%= number_field_tag "quantite", @quantite, class: "form-control input-quantite-search-bar", placeholder: "Qté" %>
                <button type="submit" class="btn-search-bar">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <%= button_tag "+", class: "btn_plus", data: { action: "click->search#addinput" } do %>
                  <i class="fa-solid fa-magnifying-glass-plus"></i>
                <% end %>
              </div>
              <div class="d-flex justify-content-center form-search-bar">
                <%= text_field_tag "nom_de_medicament", params[:nom_de_medicament_1], name: "nom_de_medicament_1", class: "form-control input-medicaments-search-bar d-none", placeholder: "Nom du médicament", data: {search_target:"field_one"} %>
                <%= number_field_tag "quantite", @quantite, name: "quantite_1", class: "form-control input-quantite-search-bar-plus d-none", placeholder: "Qté" , data: {search_target:"qty_one"}  %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

  <div data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="map">
    <div class="big-box-index-pharmacies items-index" data-controller="search medicament">
    </div>
  </div>
  <div class="div-btn-mes-reservations items-index">
  <% if @veto %>
    <%= link_to "", bookings_path(veto: @veto), class:"btn-mes-reservations" %>
    <% else %>
    <%= link_to "", bookings_path, class:"btn-mes-reservations" %>
          <% end %>
  </div>
    <div class="div-btn-garde items-index">
    <%= link_to "", pharmacies_path(de_garde: true), class: "btn-garde" %>
    </div>
</div>
