<div class="div-phone">
  <div class="div-title-phone">
    <h1>PharmaStock</h1>
  </div>
<div class="container" data-controller="search medicament">
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">

  <%= link_to root_path, class: "btn-home-page" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
 <div class="row">
 <%if @pharmacies %>
      <% @pharmacies.each do |pharmacie| %>
      <p>La <%= link_to pharmacie.nom , pharmacy_path(pharmacie, quantite: @quantite, medicament_id: @medicament )%> a comme médicament: </p>
      <% pharmacie.medicaments.each do |medoc| %>
      <p><%= medoc.nom %></p>
      <% end %>
      <% end %>
      <% end %>
      </div>

<%= form_tag(pharmacies_path, method: :get) do %>
  <%= label_tag "nom_de_medicament", "" %>
  <%= text_field_tag "nom_de_medicament", params[:nom_de_medicament], placeholder: "Nom de médicament" %>
  <%= number_field_tag "quantite", params[:quantite], placeholder: "Quantité" %>
  <%= submit_tag "Rechercher" %>
<% end %>
</div>
