<div class="div-phone">
  <div class="d-flex div-title-phone justify-content-center">
    <h1 class="title-pharma">Pharma</h1>
    <h1 class="title-stock">Stock</h1>
  </div>
  <div class="<%= session[:veto] ? "div-show-pharmacies div-show-pharmacies-veto" : "div-show-pharmacies div-show-pharmacies-human" %>">
    <div class="<%= session[:veto] ? "div-img-pharmacies div-img-pharmacies-veto" : "div-img-pharmacies div-img-pharmacies-human" %>">
    </div>
    <div class="div-btn-home-page d-flex justify-content-start">
      <div class="space-div-btn-home-page"></div>
      <div class="div-btn-back-index-pharma-page d-flex justify-content-start">
        <%= link_to pharmacies_path(veto: session[:veto]), class: session[:veto] ? "btn-back-show-reservation btn-back-show-reservation-veto" : "btn-back-show-reservation btn-back-show-reservation-human" do %>
          <i class="fa-solid fa-circle-arrow-left"></i>
        <% end %>
      </div>
    </div>
    <% unless @pharmacie.de_garde %>
      <div class="div-medicaments d-flex justify-content-center">
        <div class="d-flex">
          <div class="div-img-medicaments">
          </div>
          <div class="justify-content-between">
            <div class="d-flex flex-column div-nom-medoc">
              <h3>
                <%= @medicament.nom %>
              </h3>
              <div class="d-flex div-quantite-show-pharma justify-content-start">
                <h5>Quantité :</h5>
                <p> <%= @quantite %> </p>
              </div>
            </div>
          </div>
        </div>
        <% if @medicament1 && @quantite1 %>
          <div class="d-flex">
            <div class="div-img-medicaments">
            </div>
            <div class="d-flex flex-column div-nom-medoc">
              <h3>
                <%= @medicament1.nom %>
              </h3>
              <div class="d-flex div-quantite-show-pharma justify-content-start">
                <h5>Quantité :</h5>
                <p> <%= @quantite1 %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="div-btn-panier-show-pharmacie">
        <%= link_to "Ajouter au panier", new_booking_path(pharmacie_id:@pharmacie.id, quantite: @quantite, medicament: @medicament, medicament1: @medicament1, qty1: @quantite1), class:  session[:veto] ? "btn-panier-show-pharmacie btn-panier-show-pharmacie-veto d-flex flex-column" : "btn-panier-show-pharmacie btn-panier-show-pharmacie-human d-flex flex-column" %>
      </div>
    <% end %>
    <div class="d-flex justify-content-center">
      <div class="<%= session[:veto] ? "div-infos-pharmacies div-infos-pharmacies-veto d-flex flex-column" : "div-infos-pharmacies div-infos-pharmacies-human d-flex flex-column" %>">
        <h3><%= @pharmacie.nom %> </h3>
        <div class="infos-pharmacies">
          <div class="d-flex">
            <i class="fa-solid fa-phone"></i>
            <p><%= @pharmacie.telephone %> </p>
          </div>
          <div class="d-flex">
            <i class="fa-solid fa-house"></i>
            <p><%= @pharmacie.adresse %> </p>
          </div>
          <div class="d-flex horaires" data-controller="hidden-text">
            <i class="fa-solid fa-clock"></i>
            <div class="d-flex flex-column justify-content-start ">
              <div class="d-flex">
                <p class="horaires-show">Horaires </p>
                <span data-action="click->hidden-text#toggleText">
                  <img src="https://cdn.icon-icons.com/icons2/2645/PNG/512/chevron_down_icon_160252.png" alt=""></span>
              </div>
              <div class="tableau-horaires hidden" data-hidden-text-target="display">
                <% if @pharmacie.horaires.present?  %>
                  <p class="horaires-show"><%= @pharmacie.horaires %></p>
                <% else %>
                  <p>Cette Pharmacie n'as pas communiqué ses horaires.</p>
                <% end  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
