<h1>bien show</h1>

<div class="row">
      <p><%= @pharmacie.nom %> </p>
      <p><%= @pharmacie.adresse %> </p>
      <p><%= @pharmacie.telephone %> </p>
      <p><%= @pharmacie.email %> </p>

      <% @pharmacie.medicaments.each do |medoc| %>
      <p><%= medoc.nom %></p>
      <% end %>
      </div>
<%= link_to "Panier", new_booking_path(pharmacie_id:@pharmacie.id, quantite: @quantite, medicament: @medicament) %>
