<div class="div-phone">
  <div class="div-title-phone">
    <h1>PharmaStock</h1>
  </div>
  <div class="div-show-pharmacies">
    <div class="div-img-pharmacies">
    </div>
    <div class="div-medicaments d-flex justify-content-between">
      <div class="d-flex">
        <div class="div-img-medicaments">
        </div>
        <div class="justify-content-between">
          <div class="d-flex flex-column div-nom-medoc">
            <h3><% @pharmacie.medicaments.each do |medoc| %>
                <%= medoc.nom %>
              <% end %></h3>
            <div class="d-flex div-quantite-show-pharma justify-content-start">
              <h5>Quantité :</h5>
              <p> <%= @quantite %> </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <%= link_to "Panier", new_booking_path(pharmacie_id:@pharmacie.id, quantite: @quantite, medicament: @medicament), class: "btn-panier-show-pharmacie" %>
      </div>
    </div>
    <div class="div-infos-pharmacies d-flex flex-column">
      <h3><%= @pharmacie.nom %> </h3>
      <div class="infos-pharmacies">
        <div class="d-flex">
          <i class="fa-solid fa-phone"></i>
          <p><%= @pharmacie.telephone.to_i %> </p>
        </div>
        <div class="d-flex">
          <i class="fa-solid fa-house"></i>
          <p><%= @pharmacie.adresse %> </p>
        </div>
        <div class="d-flex">
          <i class="fa-solid fa-clock"></i>
          <p>Horaires pharma</p>
        </div>
      </div>
    </div>
  </div>
</div>
