<div class="div-phone">
  <div class="d-flex div-title-phone justify-content-center">
    <h1 class="title-pharma">Pharma</h1>
    <h1 class="title-stock">Stock</h1>
  </div>
  <div class="<%= session[:veto] ? "div-show-reservations div-show-reservations-veto" : "div-show-reservations div-show-reservations-human" %>">
    <div class="div-btn-back-index-reservation-page d-flex justify-content-start">
      <%= link_to pharmacies_path(veto: session[:veto]), class: session[:veto] ? "btn-back-show-reservation btn-back-show-reservation-veto" : "btn-back-show-reservation btn-back-show-reservation-human" do %>
        <i class="fa-solid fa-circle-arrow-left"></i>
      <% end %>
    </div>
    <h4>Mes réservations :</h4>
    <% if @bookings.empty? %>
      <div class="<%= session[:veto] ? "d-flex flex-column div-each-reservation div-each-reservation-veto" : "d-flex flex-column div-each-reservation div-each-reservation-human" %>">
        <p class="text-reservation-empty">Vous n'avez aucune réservation...</p>
        <div class="<%= session[:veto] ? "logo-panier-pharma logo-panier-pharma-veto" : "logo-panier-pharma logo-panier-pharma-human" %>"></div>
      </div>
    <% end %>
    <% @bookings.each do |booking| %>
      <div class="<%= session[:veto] ? "div-each-reservation div-each-reservation-veto" : "div-each-reservation div-each-reservation-human" %>">
        <div class="div-reservation">
          <div class="div-link-reservation d-flex justify-content-between">
            <%= link_to "", booking_path(booking), class: "link-reservation" %>
            <%= link_to "info", booking_path(booking), class: session[:veto] ? "link-reservation-search link-reservation-search-veto" : "link-reservation-search link-reservation-search-human" %>
          </div>
          <p> <%= "#{booking.pharmacie.nom}" %></p>
          <p class="text-reservation"><%= "Réservation n°#{booking.id}" %></p>
          <% booking.booking_medicaments.each do |booking_medicament| %>
            <p class="text-reservation"><%= booking_medicament.medicament.nom %> - Quantité : <strong><%= booking_medicament.quantite %></p>
              <br>
            <% end %>
          </div>
          <div class="div-btn-cancel-reservation">
            <%= link_to "Annuler", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" }, class: "btn-cancel-reservation  mx-auto" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
