<div class="div-phone">
  <div class="div-title-phone">
    <h1>PharmaStock</h1>
  </div>
  <h4>Votre panier</h4>
  <%= form_with model: @bookmed, url:bookings_path, method: :post  do |t| %>
    <%= t.hidden_field :pharmacie_id, value: @pharmacie.id %>
    <%= t.label :medicament %>
    <%= t.text_field :medicament, value: @bookmed.medicament.nom %>
    <%= t.label :quantite %>
    <%= t.submit %>
  <% end %>
</div>
