<div class="div-phone"data-controller="plus-moins-panier">
  <div class="d-flex div-title-phone justify-content-center">
    <h1 class="title-pharma">Pharma</h1>
    <h1 class="title-stock">Stock</h1>
  </div>
  <div class="big-box-show-panier">
    <div class="div-show-panier" >
      <h4>Votre panier</h4>
      <%= form_with model: @booking, url:bookings_path, method: :post  do |t| %>
        <%= t.hidden_field :pharmacie_id, value: @pharmacie.id %>
        <div class="d-flex div-medicaments-panier justify-content-between" id='stock' data-stock="<%= @pharmacie.stocks.find_by_medicament_id(@bookmed.medicament.id).quantite %>">
          <%= t.hidden_field :medicament, value: @bookmed.medicament.nom %>
          <h5><%= @bookmed.medicament.nom %></h5>
          <div class="d-flex div-plus-moins">
            <i class="fa-solid fa-minus" data-action="click->plus-moins-panier#moins"></i>
            <p class="input-quantite-panier"> <%= t.number_field :quantite, value: @quantite %> </p>
            <i class="fa-solid fa-plus" data-action="click->plus-moins-panier#plus"></i>
          </div>
        </div>
        <% if @bookmed2 %>
          <div class="d-flex div-medicaments-panier justify-content-between" id='stock2' data-stock2="<%= @pharmacie.stocks.find_by_medicament_id(@bookmed2.medicament.id).quantite %>">
            <%= t.hidden_field :medicament2, value: @bookmed2.medicament.nom %>
            <h5><%= @bookmed2.medicament.nom %></h5>
            <div class="d-flex div-plus-moins">
              <i class="fa-solid fa-minus" data-action="click->plus-moins-panier#moins2"></i>
              <p class="input-quantite-panier"> <%= t.number_field :quantite2, value: @bookmed2.quantite %> </p>
              <i class="fa-solid fa-plus" data-action="click->plus-moins-panier#plus2"></i>
            </div>
          </div>
        <% end %>
        <%= t.submit value:"Réserver", class:"btn-reserver-panier" %>
      <% end %>
    </div>
  </div>
