<div class="div-phone">
  <div class="div-title-phone">
    <h1>PharmaStock</h1>
  </div>
  <div class="big-box-show-reservation">
    <div class="div-show-reservations">
      <div class="div-btn-home-page d-flex justify-content-start">
        <%= link_to pharmacies_path, class: "btn-home-page" do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
      </div>
      <div class="div-each-reservation">
        <p><%= "Réservation n°#{@booking.id}" %></p>
        <% @booking_medicaments.each do |booking_medicament| %>
          <p><%= booking_medicament.medicament.nom %> - Quantité : <strong><%= booking_medicament.quantite %></strong></p>
        <% end %>
        <div class="d-flex justify-content-center">
        <div class="div-QR-code">
          <%= @qrcode.as_svg.html_safe if @qrcode.present? %>
        </div>
        </div>
        <div class="div-btn-cancel-reservation">
          <%= link_to "Annuler", booking_path(@booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-cancel-reservation  mx-auto" %>
        </div>
      </div>
    </div>
  </div>
</div>
