<div class="div-phone">
  <div class="div-title-phone">
    <h1>PharmaStock</h1>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-footer">
        <%= "Réservation n°#{@booking.id}" %>
        <% @booking_medicaments.each do |booking_medicament| %>
          <p>Nom du médicament: <%= booking_medicament.medicament.nom %></p>
          <p>Quantité: <%= booking_medicament.quantite %></p>
        <% end %>
        <%= @qrcode.as_svg.html_safe if @qrcode.present? %>
        <%= link_to "Home", pharmacies_path %>
      </div>
    </div>
  </div>
</div>
