<div class="div-phone">
  <div class="d-flex div-title-phone justify-content-center">
    <h1 class="title-pharma">Pharma</h1>
    <h1 class="title-stock">Stock</h1>
  </div>
  <div class="<%= session[:veto] ? "div-show-reservations div-show-reservations-veto" : "div-show-reservations div-show-reservations-human" %>">
    <div class="div-btn-back-index-reservation-page d-flex justify-content-start">
      <%= link_to pharmacies_path(veto: session[:veto]), class: session[:veto] ? "btn-back-show-reservation btn-back-show-reservation-veto" : "btn-back-show-reservation btn-back-show-reservation-human" do %>
        <i class="fa-solid fa-circle-arrow-left"></i>
      <% end %>
    </div>
    <h4>Vos coordonnées :</h4>
    <div class="d-flex flex-column justify-content-center <%= session[:veto] ? "div-each-reservation div-each-reservation-veto" : "div-each-reservation div-each-reservation-human" %>">
      <div class="d-flex justify-content-center">
        <p class="coordonnees-profil"><strong>Prénom : &nbsp;</strong></p>
        <p class="coordonnees-profil"> <%= "#{@user.first_name}" %></p>
      </div>
      <div class="d-flex justify-content-center">
        <p class="coordonnees-profil"><strong>Nom : &nbsp;</strong></p>
        <p class="coordonnees-profil"> <%= "#{@user.last_name}"%></p>
      </div>
      <div class="d-flex justify-content-center">
        <p class="coordonnees-profil"><strong>Tel : &nbsp;</strong></p>
        <p class="coordonnees-profil"> <%= "#{@user.telephone}" %></p>
      </div>
      <div class="d-flex justify-content-center">
        <p class="coordonnees-profil"><strong>Adresse : &nbsp;</strong></p>
        <p class="coordonnees-profil"> <%= "#{@user.adresse}" %></p>
      </div>
      <div class="d-flex justify-content-center">
        <p class="coordonnees-profil"><strong>Email : &nbsp;</strong></p>
        <p class="coordonnees-profil"> <%= "#{@user.email}" %></p>
      </div>
      <div class="d-flex justify-content-center">
        <p class="coordonnees-profil"><strong>N° séc sociale : &nbsp;</strong></p>
        <p class="coordonnees-profil"> <%= "#{@user.nir}" %></p>
      </div>
    </div>
  </div>
</div>
